<div class="container">
    <h1>Agendamento</h1>
   
    <a href="#" routerLink="/scheduler/index" class="btn btn-primary">Voltar</a>
    
    <div>
        <strong>ID:</strong>
        <p>{{ scheduler.id }}</p>
    </div>
    
    <div>
        <strong>Data do Evento:</strong>
        <p>{{ scheduler.eventDate }}</p>
    </div>
    
    <div>
        <strong>Confirmação do Evento:</strong>
        <p>{{ scheduler.effectiveDate }}</p>
    </div>
    
    <div>
        <strong>Estado:</strong>
        <p>{{ scheduler.status }}</p>
    </div>
    
    <div>
        <strong>Confirmação do Evento:</strong>
        <p>{{ scheduler.notes }}</p>
    </div>
    
</div>