<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="submit-form bg-light p-5 rounded">      
      <div class="form-group">
          <label for="startEventDate">Evento Inicio:</label>
          <input id="startEventDate" type="text" 
            class="form-control" [(ngModel)]="startEventDate"> 
      </div>
      <div class="form-group">
        <label for="endEventDate">Evento Inicio:</label>
        <input id="endEventDate" type="text" 
          class="form-control"  [(ngModel)]="endEventDate">
      </div>
      <div class="form-group">
        <label for="status">Status:</label>
        <select id="status" class="form-control"  [(ngModel)]="status">
          <option disabled>Status</option>
          <option value="">Selecione</option>
          <option *ngFor="let statusOp of statusList" value="{{statusOp.code}}">{{statusOp.description}}</option>
        </select>
      </div>
      <button class="btn btn-primary" (click)="getByFilter()">Buscar</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>          
          <th scope="col">Data do Evento</th>
          <th scope="col">Data Confirmada</th>
          <th scope="col">Status</th>
          <th scope="col">Descrição</th>
          <th scope="col" width="220px">#</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let scheduler of schedulers">
          <td>{{ scheduler.eventDate }}</td>
          <td>{{ scheduler.effectiveDate }}</td>
          <td>{{ scheduler.status.description }}</td>
          <td>{{ scheduler.notes }}</td>
          <td>
            <a href="#" [routerLink]="['/scheduler/', scheduler.id, 'view']" class="btn btn-info">View</a>
            <a href="#" [routerLink]="['/scheduler/', scheduler.id, 'edit']" class="btn btn-primary">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#" [routerLink]="['/scheduler/index/', (page - 1)]" (click)="changePage('m')">Anterior</a></li>
        <li class="page-item  active"  aria-current="page"><a class="page-link" href="#" [routerLink]="['/scheduler/index/', (page)]" (click)="changePage('n')">{{page}}</a></li>
        <li class="page-item"><a class="page-link" href="#" [routerLink]="['/scheduler/index/', (page + 1)]" (click)="changePage('p')">{{page + 1}}</a></li>
        <li class="page-item"><a class="page-link" href="#" [routerLink]="['/scheduler/index/', (page + 1)]" (click)="changePage('p')">Próximo</a></li>
      </ul>
    </nav>
  </div>
</div>