<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/scheduler/index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Adicionar Agendamento</li>
            </ol>
        </nav>
    </div>
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
        <input class="span2" size="16" type="text" value="12-02-2012">
        <span class="add-on"><i class="icon-th"></i></span>
      </div>

    <div class="form-group">
        <label for="eventDate">Data do Evento:</label>
        <input formControlName="eventDate" id="eventDate" type="text" required class="form-control">
        <div *ngIf="f.eventDate.touched && f.eventDate.invalid" class="alert alert-danger">
            <div>Data do Evento é requerida.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="effectiveDate">Data De Comfirmação:</label>
        <input formControlName="effectiveDate" id="effectiveDate" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label for="status">Estado:</label>
        <input formControlName="status" id="status" type="text" required class="form-control">
        <div *ngIf="f.status.touched && f.status.invalid" class="alert alert-danger">
            <div>Estado é requerido.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="notes">Descrição</label>
        <textarea formControlName="notes" id="notes" type="text" required class="form-control">
            </textarea>
        <div *ngIf="f.notes.touched && f.notes.invalid" class="alert alert-danger">
            <div>Descrição é requiredo.</div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Criar</button>
</form>
<script src="assets/js/datepicker.js"></script>
<script>$('#datepicker').datepicker('show');</script>